<%- include('partials/header') %>


    <main>
       <h1><%= title %></h1> 
        <h2>Upcoming Service Projects</h2>
        <!-- Date: Project Title (Organization Name) -->
        <ul>
            <% projects.forEach(project=> { %>
                <li> <%= project.project_date.toLocaleDateString('en-US') %> : 
                    <a href="/project/<%= project.project_id %>">
                        <%= project.title %>
                    </a> <%= project.organization_name %>
                </li>
                <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>