<%- include('partials/header') %>


    <main>
       <h1><%= title %></h1> 
        <h2>Upcoming Service Projects</h2>
        <!-- Date: Project Title (Organization Name) -->
        <ul>
            <% projects.forEach(project=> { %>
                <li> <%= project.project_date.toLocaleDateString('en-US') %> : <%= project.title %> <i><%= project.name %></i>
                </li>
                <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>